<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <title>Cadastrar Tarefa</title>
        <link rel="shortcut icon" href="placa-stop1.png"/>
        <link rel="stylesheet" href="style.css">
        <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
        <script src="veiculos.js" defer></script>
        
    </head>
    <body>
    <nav class="navbar navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Cadastrar Veículo</a>
        </div>
    </nav>
    <div class="container containerdosveiculos">
        <div class="row">
            <div class="col">
                <form id="veiculos">
                    <div class="form-group">
                        <label for="tarefa">Placa:</label>
                        <input type="text" class="form-control" name="placa"  required="" placeholder="XXX9999" maxlength="7" minlength="7" value="">
                    </div>
                    <div class="form-group">
                        <label for="descricao">Carro:</label>
                        <input type="text" class="form-control" name="veiculo" placeholder="Ex. Fusca" required="" maxlength="25" value="">
                    </div>
                    <div class="form-group">
                        <label for="prazo">Itens:</label>
                        <input type="text" class="form-control" name="itens" placeholder="Ex. Filtro de óleo, Filtro de combústivel..." required="">
                    </div>
                    <div class="form-group">
                        <label for="prazo">KM:</label>
                        <input type="text" class="form-control" name="km" placeholder="KM 100.0000" required="">
                    </div><br><br>
                    <div class="form-group">
                        <label for="prazo">Cliente:</label>
                        <input type="text" class="form-control" name="cliente" placeholder="Nome do cliente">
                    </div>
                    
                    <div class="form-group">
                        <label for="prazo">Telefone:</label>
                        <input type="text" class="form-control" name="telefone" placeholder="42999999999">
                    </div>
                </form>
                    <button class="btn btn-primary" id="enviar">Enviar</button>
                    <a href="/lista" class="btn btn-secondary">Ver Lista</a>
                
            </div>
</div>

</body>
</html>